﻿.general {
    margin: auto;
    width: 990px;
    height: 600px;
    background: #ededed;
    overflow:hidden;
}


.negocios {
    display: block;
    right: 200px;
    left: 220px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    -webkit-border-radius: 8px 8px 1px 1px;
}

.titulo {
    -webkit-border-radius: 8px 8px 1px 1px;
    background-color: #1076C1;
}

    .titulo h1 {
        color: #fff;
        margin-left: 20px;
        font: 180% serif;
    }


.contenedor_grid {
    display: block;
    background-color: #fff;
}

.grid {
    margin: auto;
    width: 100%;
    background-color: #fff;
    margin: 5px 0 10px 0;
    border: solid 1px #525252;
    border-collapse: collapse;
}

.footer {
    width: 100%;
    margin-top:10px;
    background: rgb(37,37,37);
    padding: 10px 0 14px 0;
    overflow: hidden;
}

.footer_hijo {
    margin: 0 auto;
    font-size: 11px;
    text-align: center;
    color: white;
    background: rgb(37,37,37);
    font-family: arial;
    font-size: 12px;
}
