﻿* {
    margin: 0px;
    padding: 0px;
    font-family: heveltica Neue;
    font-weight: lighter;
}

.general {
    margin: auto;
    width: 990px;
    height: 600px;
    background-color: white;
    overflow: hidden;
}

    .general h1 {
        font-family: 'Lato', Helvetica, sans-serif;
        margin-top: 10px;
        margin-left: 20px;
        color: #EB2645;
    }

.centrado {
    float:left;
    width: 400px;
    height: 300px;
    margin-top: 100px;
    background-color: white;
    
}

.textbox {
    display: block;
    width: 350px;
    height: 35px;
    margin-left: 20px;
    margin-top: 10px;
    padding-left: 10px;
    font-size: 1.1em;
}

.boton {
    margin-top: 10px;
    margin-left: 20px;
    background-color: #2fcc71;
    width: 366px;
    height: 40px;
    color: #fff;
    font-weight: normal;
    border-radius: 4px;
    font: normal normal normal 13.3333330154419px/normal Arial;
    font-size: 16px;
    cursor: pointer;
    border: none;
    text-align: center;
    
}

    .boton:hover {
        background-color: #26A057;
    }

.footer {
    width: 100%;
    background: rgb(37,37,37);
    padding: 10px 0 14px 0;
    overflow: hidden;
}

.footer_hijo {
    margin: 0 auto;
    font-size: 11px;
    text-align: center;
    color: white;
    background: rgb(37,37,37);
    font-family: arial;
    font-size: 12px;
}

.imagen {
    margin: auto;
    margin-top: 15px;
    margin-left: 80px;
    width: 200px;
    border: groove;
    height: 200px;
}

.cargaimagen {
    float:right;  
    margin-top: 100px;     
    width: 400px;
    height: 300px;
    background-color: white;
}

    .cargaimagen h2 {
        margin-left: 85px;
        font-family: 'Lato', Helvetica, sans-serif;
        margin-top: 10px;
        color: #EB2645;
    }

    .cargaimagen .fileuplo {
        margin-top: 10px;
        margin-left: 120px;
        color: #fff;
        font-weight: normal;
        font: normal normal normal 13.3333330154419px/normal Arial;
        text-align: center;
    }
