﻿* {
    margin: 0px;
    padding: 0px;
    font-family: heveltica Neue;
    font-weight: lighter;
}

.general {
    margin: auto;
    display: block;
    width: 990px;
    height: 600px;
    background-color: white;
    overflow: hidden;
}

    .general h1 {
        font-family: 'Lato', Helvetica, sans-serif;
        margin-top: 10px;
        margin-left: 20px;
        color: #EB2645;
    }

.centrado {
    margin: auto;
    width: 420px;
    height: 370px;
    margin-top: 100px;
    background-color: white;
    overflow: hidden;
}

.textbox {
    display: block;
    width: 350px;
    height: 35px;
    margin-left: 20px;
    margin-top: 10px;
    padding-left: 10px;
    font-size: 1.1em;
}

.boton {
    margin-top: 10px;
    margin-left: 20px;
    background-color: #2fcc71;
    width: 366px;
    height: 40px;
    color: #fff;
    font-weight: normal;
    border-radius: 5px;
    font: normal normal normal 13.3333330154419px/normal Arial;
    font-size: 16px;
    cursor: pointer;
    border: none;
    text-align: center;
    border-bottom: 2px solid #26a057;
}

    .boton:hover {
        background-color: #26A057;
    }

.footer {
    width: 100%;
    background: rgb(37,37,37);
    padding: 10px 0 14px 0;
    overflow: hidden;
}

.footer_hijo {
    margin: 0 auto;
    font-size: 11px;
    text-align: center;
    color: white;
    background: rgb(37,37,37);
    font-family: arial;
    font-size: 12px;
}
