﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="sesion.aspx.cs" MasterPageFile="/sesion.Master" Inherits="ComidasRapidas.Sitio.sesion" %>

<asp:Content ID="Content2" ContentPlaceHolderID="central" runat="Server">
<asp:MultiView ID="MultiView1" runat="server" ActiveViewIndex="0">

        <asp:View ID="View1" runat="server"> 
               
       <h1 id="titulo" runat="server"></h1>

            <asp:Label ID="lbl_resultado" runat="server" Font-Italic="true" BorderColor="Red" ></asp:Label>                
            
        </asp:View>

    </asp:MultiView>
</asp:Content>